@import url('https://fonts.googleapis.com/css2?family=KoHo:wght@300;400;500;600;700&display=swap');
:root {
  --gray: #2d4059;
  --green: #1fab89;
  --red: #ea5455;
  --orange: #f07b3f;
  --yellow: #ffd460;
  --rating-green: #09ff00;
  --rating-dark-blue: #0051ff;
  --rating-blue: #00ffff;
  --rating-orange: #ff8800;
  --rating-red: #ff0404;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'KoHo', sans-serif;
}
body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
body {
  font-size: 12px;
  color: var(--gray);
}
.menumob {
  background-color: var(--red);
  color: white !important;
  width: 100%;
  display: flex;
  font-weight: 600;
  font-size: 20px;
  padding: 10px;
  justify-content: space-between;
}
.navmob {
  background-color: var(--red);
  width: 100%;
  display: flex;
  font-weight: 600;
  font-size: 14px;
  text-transform: uppercase;
}
.navlistmob {
  width: 60%;
  padding: 0;
  margin: 0;
  text-align: left;
}
.navitemsmob {
  box-sizing: border-box;
  display: inline-block;
  text-align: right;
  line-height: 1.5rem;
  text-transform: uppercase;
  color: white !important;
}
.iconmenu a {
  text-decoration: none;
  color: white !important;
}
.navmob a {
  display: inline-block;
  padding: 1.3em;
  text-decoration: none;
}
.nav {
  background-color: var(--red);
  width: 100%;
  display: flex;
  font-weight: 600;
  font-size: 14px;
  text-transform: uppercase;
}
.navlist {
  width: 100%;
  padding: 0;
  margin: 0;
  text-align: right;
}
.logo {
  padding: 0;
  margin: 0;
  text-align: left;
  box-sizing: border-box;
  display: inline-block;
}
.navitems {
  box-sizing: border-box;
  display: inline-block;
  text-align: right;
  line-height: 1.5rem;
  text-transform: uppercase;
  padding: 0.5em;
}
.nav a {
  display: inline-block;
  padding: 0.5em 1.5em;
  text-decoration: none;
  color: white !important;
}
.nav a:hover {
  text-decoration: none;
}
.hero {
  display: flex;
  align-items: center;
  min-height: 380px;
  width: 100%;
  text-align: center;
  background-position: center;
  background-color: Black !important;
}
.hero-inner {
  margin: 0 auto;
  max-width: 800px;
}
.hero-title {
  color: #fff;
  font-weight: 600;
  font-size: 36px;
  text-shadow: 1px 1px var(--gray);
}
.hero-subtitle {
  color: #fff;
  margin-top: 1rem;
  font-size: 18px;
  font-weight: 600;
  text-shadow: 1px 1px var(--gray);
}
main {
  width: 100%;
  margin: 0 auto;
}
.content {
  padding: 2rem;
}
.latest {
  width: 100%;
  margin-top: 30px;
  margin-bottom: 50px;
  text-align: center;
}
.latest h1 {
  font-weight: 700;
  font-size: 2em;
  margin-bottom: 50px;
}
.list {
  margin: 2rem auto auto;
  text-align: left;
  display: grid;
  grid-row-gap: 1rem;
}
.list_item {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.01);
  transition: box-shadow 0.4s ease-in-out 0s;
  width: 100%;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
}
.list_item:hover {
  box-shadow: 0 3px 7px 0 var(--red);
}
.city {
  position: absolute;
  top: 8px;
  left: 1rem;
  border-radius: 5px;
  background-color: var(--red);
  padding: 5px 10px 5px;
  color: white;
  font-weight: 500;
}
.list_item_content {
  padding: 1rem;
}
.list_item_thumb {
  width: 100%;
  max-height: 200px;
}
.list_item_rating {
  font-size: 12px;
  text-transform: uppercase;
  color: var(--gray);
  font-weight: 700;
}
.list_item_rating_value_very-high {
  color: var(--rating-green);
  text-decoration: none;
}
.list_item_rating_value_high {
  color: var(--rating-dark-blue);
  text-decoration: none;
}
.list_item_rating_value_average {
  color: var(--rating-blue);
  text-decoration: rgba(0, 0, 0, 0.01);
}
.list_item_rating_value_low {
  color: var(--rating-orange);
  text-decoration: none;
}
.list_item_rating_value_very-low {
  color: var(--rating-red);
  text-decoration: none;
}
.list_item_title {
  font-weight: 500;
  font-size: 1rem;
  margin-top: 10px;
  transition: 0.3s opacity;
}
.list_item_title:hover {
  opacity: 0.6;
}
.list_item_title a {
  text-decoration: none;
  color: inherit;
}
.list_item_desc {
  margin-top: -30px;
  font-size: 12px;
  line-height: 1.5em;
}
footer {
  background-color: var(--red);
  color: white;
  font-size: 14px;
  padding: 1em;
  width: 100%;
  text-align: center;
}
.skip-link {
  position: absolute;
  top: -100px;
  left: 0;
  background-color: var(--orange);
  color: white;
  padding: 10px;
  font-size: 20px;
  z-index: 100;
  text-decoration: none;
}
.skip-link:focus {
  top: 8.5vh;
  padding: 1vh;
  margin: auto;
}
